Integração de Sistemas (2018-2019)/Project/SmartPark/SmartPark/Connected Services/ServiceReferenceParkTransmissionUnit/ServiceParkTransmissionUnit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceParkTransmissionUnit" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49547/ServiceParkTransmissionUnit.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49547/ServiceParkTransmissionUnit.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49547/ServiceParkTransmissionUnit.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceParkTransmissionUnit_LoadConfigFile_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadConfigFile" />
  </wsdl:message>
  <wsdl:message name="IServiceParkTransmissionUnit_LoadConfigFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadConfigFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParkTransmissionUnit_GetParks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParks" />
  </wsdl:message>
  <wsdl:message name="IServiceParkTransmissionUnit_GetParks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParksResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParkTransmissionUnit_GetParkingSpots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParkingSpots" />
  </wsdl:message>
  <wsdl:message name="IServiceParkTransmissionUnit_GetParkingSpots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParkingSpotsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParkTransmissionUnit_GetProviders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProviders" />
  </wsdl:message>
  <wsdl:message name="IServiceParkTransmissionUnit_GetProviders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidersResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceParkTransmissionUnit">
    <wsdl:operation name="LoadConfigFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParkTransmissionUnit/LoadConfigFile" message="tns:IServiceParkTransmissionUnit_LoadConfigFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParkTransmissionUnit/LoadConfigFileResponse" message="tns:IServiceParkTransmissionUnit_LoadConfigFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParkTransmissionUnit/GetParks" message="tns:IServiceParkTransmissionUnit_GetParks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParkTransmissionUnit/GetParksResponse" message="tns:IServiceParkTransmissionUnit_GetParks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParkingSpots">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParkTransmissionUnit/GetParkingSpots" message="tns:IServiceParkTransmissionUnit_GetParkingSpots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParkTransmissionUnit/GetParkingSpotsResponse" message="tns:IServiceParkTransmissionUnit_GetParkingSpots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProviders">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParkTransmissionUnit/GetProviders" message="tns:IServiceParkTransmissionUnit_GetProviders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParkTransmissionUnit/GetProvidersResponse" message="tns:IServiceParkTransmissionUnit_GetProviders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceParkTransmissionUnit" type="tns:IServiceParkTransmissionUnit">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadConfigFile">
      <soap:operation soapAction="http://tempuri.org/IServiceParkTransmissionUnit/LoadConfigFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParks">
      <soap:operation soapAction="http://tempuri.org/IServiceParkTransmissionUnit/GetParks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParkingSpots">
      <soap:operation soapAction="http://tempuri.org/IServiceParkTransmissionUnit/GetParkingSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviders">
      <soap:operation soapAction="http://tempuri.org/IServiceParkTransmissionUnit/GetProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceParkTransmissionUnit">
    <wsdl:port name="BasicHttpBinding_IServiceParkTransmissionUnit" binding="tns:BasicHttpBinding_IServiceParkTransmissionUnit">
      <soap:address location="http://localhost:49547/ServiceParkTransmissionUnit.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>