Integração de Sistemas (2018-2019)/Project/ParkDACE/Connected Services/ServiceReferenceParkingSpots/ServiceParkingSpots.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceParkingSpots" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49325/ServiceParkingSpots.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49325/ServiceParkingSpots.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49325/ServiceParkingSpots.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceParkingSpots_CreateParkingSpotXML_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateParkingSpotXML" />
  </wsdl:message>
  <wsdl:message name="IServiceParkingSpots_CreateParkingSpotXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateParkingSpotXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParkingSpots_GetParkingSpot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParkingSpot" />
  </wsdl:message>
  <wsdl:message name="IServiceParkingSpots_GetParkingSpot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParkingSpotResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParkingSpots_GetParkingSpotXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParkingSpotXML" />
  </wsdl:message>
  <wsdl:message name="IServiceParkingSpots_GetParkingSpotXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParkingSpotXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParkingSpots_ValidateXmlFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateXmlFile" />
  </wsdl:message>
  <wsdl:message name="IServiceParkingSpots_ValidateXmlFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateXmlFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceParkingSpots">
    <wsdl:operation name="CreateParkingSpotXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParkingSpots/CreateParkingSpotXML" message="tns:IServiceParkingSpots_CreateParkingSpotXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParkingSpots/CreateParkingSpotXMLResponse" message="tns:IServiceParkingSpots_CreateParkingSpotXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParkingSpot">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParkingSpots/GetParkingSpot" message="tns:IServiceParkingSpots_GetParkingSpot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParkingSpots/GetParkingSpotResponse" message="tns:IServiceParkingSpots_GetParkingSpot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParkingSpotXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParkingSpots/GetParkingSpotXML" message="tns:IServiceParkingSpots_GetParkingSpotXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParkingSpots/GetParkingSpotXMLResponse" message="tns:IServiceParkingSpots_GetParkingSpotXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateXmlFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParkingSpots/ValidateXmlFile" message="tns:IServiceParkingSpots_ValidateXmlFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParkingSpots/ValidateXmlFileResponse" message="tns:IServiceParkingSpots_ValidateXmlFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceParkingSpots" type="tns:IServiceParkingSpots">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateParkingSpotXML">
      <soap:operation soapAction="http://tempuri.org/IServiceParkingSpots/CreateParkingSpotXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParkingSpot">
      <soap:operation soapAction="http://tempuri.org/IServiceParkingSpots/GetParkingSpot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParkingSpotXML">
      <soap:operation soapAction="http://tempuri.org/IServiceParkingSpots/GetParkingSpotXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateXmlFile">
      <soap:operation soapAction="http://tempuri.org/IServiceParkingSpots/ValidateXmlFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceParkingSpots">
    <wsdl:port name="BasicHttpBinding_IServiceParkingSpots" binding="tns:BasicHttpBinding_IServiceParkingSpots">
      <soap:address location="http://localhost:49325/ServiceParkingSpots.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>