Integração de Sistemas (2018-2019)/Project/ParkDACE/Connected Services/ServiceReferenceParkingSpots/ServiceParkingSpots.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49325/ServiceParkingSpots.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" />
  <xs:element name="CreateParkingSpotXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" minOccurs="0" name="newParkingSpot" nillable="true" type="q1:ParkingSpot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateParkingSpotXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateParkingSpotXMLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParkingSpot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParkingSpotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" minOccurs="0" name="GetParkingSpotResult" nillable="true" type="q2:ParkingSpot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParkingSpotXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParkingSpotXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetParkingSpotXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateXmlFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_docXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str_filenameXSD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateXmlFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateXmlFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>