Integração de Sistemas (2018-2019)/Project/BOT-SpotSensor/BOT-SpotSensor/App_Data/ParkingSpotConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parkingSpot" type="parkingSpotInfo" />
  <xs:complexType name="parkingSpotInfo">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="1"/>
      <xs:element name="type" type="typeType" minOccurs="1"/>
      <xs:element name="name" type="xs:string" minOccurs="1"/>
      <xs:element name="location" type="xs:string" />
      <xs:element name="status" type="typeInfo" minOccurs="1"/>
      <xs:element name="batteryStatus" type="xs:boolean" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="typeInfo">
    <xs:sequence>
      <xs:element name="value" type="valueType" minOccurs="1"/>
      <xs:element name="timestamp" type="xs:dateTime" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="valueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="free"/>
      <xs:enumeration value="occupied"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ParkingSpot"/>
      <xs:enumeration value="SpecialSpot"/>
      <xs:enumeration value="MotoSpot"/>
      <xs:enumeration value="BicycleSpot"/>
      <xs:enumeration value="TeacherSpot"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>