CampusPark/Project/ParkDACE/Connected Services/ServiceReferenceParkingSpots/ServiceParkingSpots1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpotId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="Type" type="tns:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:simpleType name="Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ParkingSpot" />
      <xs:enumeration value="SpecialParkingSpot" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
</xs:schema>